<nav class="navbar navbar-vertical navbar-expand-lg border-end position-fixed h-100 top-0 start-0 navbarLeft d-flex justify-content-start align-items-start">
        <ul class="w-100 m-0 p-0">
            <li><a href="{{ path('app_home') }}" class="h-100 w-100 p-2 ps-3 border-bottom d-block">Strona główna</a></li>
            <li><a href="{{ path('app_overtime') }}" class="h-100 w-100 p-2 ps-3 border-bottom d-block">Nadgodziny</a></li>
            <li><a href="#" class="h-100 w-100 p-2 ps-3 border-bottom d-block">Link 2</a></li>
            <li><a href="#" class="h-100 w-100 p-2 ps-3 border-bottom d-block">Link 3</a></li>
            <li><a href="#" class="h-100 w-100 p-2 ps-3 border-bottom d-block">Link 3</a></li>
        </ul>
</nav>