<nav class="contrainer-fluid d-flex justify-content-between align-items-center navTop ps-3 pe-3 border-bottom position-fixed top-0 start-0 w-100">
    <div class="logoNavTop">Logo</div>
    <div class="rightSectionNavTop">
        User 123
    </div>
</nav>
