{% extends 'base.html.twig' %}

{% block title %}Hello OvertimeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Nadgodziny</h1>
    <p>Tutaj zarządzaj i sprawdzaj swoje nadgodziny</p>
</div>
{% endblock %}
